<style>
  
  body {
    background-color: <%= @color %>;
  }
  
</style>

<h1>Picmarks</h1>

<p>
  Here are some of my favorite photos
</p>

<ul>
<% @pictures.each do |p| %>
  <li>
    <img style="border: thick <%= @color %> solid" src="<%= p.url %>" width="<%= @width %>">
    <p><%= p.title %><p>
  </li>
<% end %>
</ul>
