<style>
  
  body {
    background-color: <%= @color %>;
  }
  
</style>

<h1>Picmarks</h1>

<p>
  Here are some of my favorite photos
</p>

<ul>
<% @pics.each do |image_data| %>
  <li>
    <img style="border: thick <%= @color %> solid" src="<%= image_data[:url] %>" width="<%= @width %>">
    <p><%= image_data[:title] %><p>
  </li>
<% end %>
</ul>
