<h2>Add A New Picture</h2>

<%= form_for @picture do |f| %>
  <%= f.label :url, "URL:" %>
  <%= f.text_field :url %>
  
  <%= f.label :title, "Title:" %>
  <%= f.text_field :title %>
  
  <%= f.submit %>
<% end %>

<!-- def form_for(model)
  class = model.class
  url = class.downcase.pluralize
  if model.id.present?
    verb = "put"
  else
    verb = "post"
  end
  
  return "<form action="/#{url}" method="#{verb}">"
end -->